<div class="container">
    <h3 class="text-center">Recent Posts</h3>


</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for post in posts %}
        {% if  forloop.counter <= 12 %}
        <div class="col-md-3 posts">
            <h6><a href="/boards/{{ post.parent_board.board_url }}"> {{ post.parent_board }}</a></h6>
            <h5>{{ post.post_subject}}</h5>
            
            <h6><strong>{{ post.post_name }}</strong>  {{ post.post_date}} No.{{post.local_id}}</h6>
            {% if post.post_image %}
            <img src="/media/{{ post.post_image }}" class="fullimage">
            {% endif %}
            <p class="postcontent">{{ post.post_content|truncatewords:20 }}</p>
            {% if post.mod_warning %}<p class="modwarning"><strong>({{ post.mod_warning }})</strong></p>{% endif %}
            <p style="font-size: small;">Replies: {{post.replies.count}} </p>
            <a href="/boards/{{ post.parent_board.board_url }}/{{ post.pk }}">[View Thread]</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>