<style>
            
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color:#1d1f21;
        color: #c5c8c6;
    }
    
    .posts{
        background-color: #282a2e;
        color: #c5c8c6;
        margin: 2px;
    }
    .postcontent{
        overflow: hidden;
        text-overflow: hidden;
    }
    .table-responsive {
        display: table;
    }
    .table{
        color:#c5c8c6;
        
    }
    .modwarning{
        color: red;
    }
    .fullimage{
        width: 100%;
        height: auto;
        
    }

    .imgcontainer {
        max-width: 500px;
    }
   

</style>