<style>
            
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color:#1d1f21;
        color: #c5c8c6;
    }
    
    .posts{
        display: inline-block;
        max-width: 100%;
        background-color: #282a2e;
        color: #c5c8c6;
        margin: 2px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
    }
    .postcontent{
        overflow-wrap: anywhere; 
        margin-right: 24px;
        
        padding-bottom: 24px;
        text-align: left;
    }
    .table-responsive {
        display: table;
    }
    .table{
        color:#c5c8c6;
        
    }
    .modwarning{
        color: red;
        
    }
    .fullimage{
        width: 100%;
        height: auto;
    }

    .imgcontainer {
        float: left;
        max-width: 150px;
        margin-left: 24px;
        margin-bottom: 8px;
        margin-right: 24px;
    }
   

</style>